* {
  box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 9px;
  background:  black;
}

/* Header/Blog Title */

header {
  padding: 15px;
  text-align: center;
  background-color: ;
  background-image: url(gif.gif);
  border: solid 10px #1B1B1B;
  border-radius: 40px;
  color: white;
}


/* Create two unequal columns that floats next to each other */

/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}


/* Add a card effect for articles */
.card {
   background-color: #1B1B1B;
   padding: 20px;
   margin-top: 20px;
   color: white;
   border: solid 1px #1b1b1b;
   border-radius: 40px;
}
.card:hover {
	 box-shadow: 0 16px 22px 0 white;
}

.imgresponsive {
	  max-width: 60%;
     height: auto;
	 
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/*************************************** SOCIAL MEDIA ICON *******************************/

.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 10px 6px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.3;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}


.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-github {
  background: #000000;
  color: white;
}


.fa-stack-overflow {
  background: #000000;
  color: white;
}


/* Footer */
footer {
  padding: 20px;
  text-align: center;
  background: black;
  margin-top: 20px;
  color: gray;
   background-image: url(images/gif.gif);
  border: solid 10px #1B1B1B;
  border-radius: 40px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
